# Core LangChain + LLMs
langchain
langchain-community
langchain-groq
langchain-experimental
langchain-huggingface
sentence-transformers
python-dotenv
duckduckgo-search
beautifulsoup4
arxiv

# Vector Databases
faiss-cpu
chromadb

# Data Handling
pandas
numpy

# Web/Data Fetching
requests
